<h1>list of <%= controller_name %></h1>
<div class="w-100 d-flex justify-content-end pb-3">
  <%= link_to 'create', new_blog_path, class: "btn btn-primary" %>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Thumbnail</th>
    <th scope="col">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>foo</td>
    <td>bar</td>
    <td>foobar</td>
  </tr>
  </tbody>
</table>